/**
 * @package cssecoST
 * posts-formats/_audio-pf.scss
 *
 * Audio Post Format style
 */

article.csseco-format-audio {
  header.entry-header {
    h1.entry-title {
      display: inline-block;
      width: auto;
      a {}
    }
    .entry-meta {
      display: inline-block;
      width: auto;
    }
  }
  .entry-content {
    iframe {
      height: 166px;
      width: 100%;
    }
  }
  footer.entry-footer {
    /* ../base/_globals.scss */
  }
}