/**
 * @package cssecoST
 * posts-formats/_standard-pf.scss
 *
 * Standard Post Format
 */

article.csseco-format-standard {
  header.entry-header {
    h1.entry-title {}
    .entry-meta {}
  }
  .entry-content {
    a.standard-featured-link {
      .standard-featured {}
    }
    .entry-excerpt {}
    .button-container {
      > a.btn {}
    }
  }
  footer.entry-footer {
    /* ../base/_globals.scss */
  }
}